<div class="container" role="main">
    <div class="list-group" id="domainOverviewLG">
        <a href='#' class="list-group-item active">
            <h4 class="list-group-item-heading">Available Domains</h4>
        </a>
    </div>
    <div class='btn-group'>
        <button type='button' class='btn btn-primary' onclick="newDomain()"><span class="glyphicon glyphicon-plus-sign"></span> New Domain</button>
        <button type='button' class='btn btn-primary' id="domainWizardB"><span class="glyphicon glyphicon-forward"></span> Domain Wizard</button>
        <button type='button' class='btn btn-primary' onclick="marketplace()"><span class="glyphicon glyphicon-th-list"></span> Marketplace</button>
    </div>
</div>

<script src="/HeadStart/HeadStart_WebAPI.js"></script>
<script src="/HeadStart/home.js"></script>

