<div class="container" role="main">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-success">
                <div class="panel-heading">Quantity Structure
                    <a href="#" id="entityGraphA" onclick="handleUpdateEvent()"><span
                            class="glyphicon glyphicon-cog pull-right"></span></a>
                </div>
                <div class="panel-body" id="qsTableD">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/HeadStart/HeadStart_WebAPI.js"></script>
<script src="/HeadStart/HeadStart_WebAPIExtensions.js"></script>
<script src="/HeadStart/quantityStructure.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css" rel="stylesheet" type="text/css"/>

